body {
    padding: 30px 30px;
}
h1{
    color: green;
}
h2{
    color:gold;
    background-color: green;
}
/* navigation bar*/
#nav {
    background-color: green;
    list-style: none;
    text-align: center;
    padding: 30px 0 30px 0;
}
/* navigation bar*/
#nav > a {
    color: gold;
    display: inline-block;
    padding-right: 150px;
    font-size: 18px;
    text-decoration: none;
}
/* navigation bar*/
#nav > a:hover {
    color: #fdfd96;
}