<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="✨The Fabulous Five✨ Notes App">
    <title>UNCC Notes App</title>
    <!-- styles -->
    <script src="{{url_for('static', filename='javascript.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='1main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='final_forms.css') }}">
</head>
<body>

<nav id="nav">
    <a href="{{ url_for('index') }}"> Home</a>
    <a href="{{ url_for('get_notes') }}"> My Notes</a>
    <a href="{{ url_for('new_note') }}">Add Notes</a>
    <a href="{{ url_for('get_favorite') }}">Favorite Notes</a>
    <a href="{{ url_for('get_todo') }}"> Todo List</a>


    {% if user %}
    <a href="{{ url_for('logout') }}">Logout</a>
    <button onclick="myFunction()">Toggle Dark Mode</button>
</nav>
{% else %}
<a href="{{ url_for('login') }}">Sign In</a>
<a href="{{ url_for('register') }}">Register</a>
</nav>
{% endif %}

<h1>Welcome {{user}} to ✨The Fabulous Five✨ Notes App!</h1>

<h2>Use this site to maintain and organize your notes.</h2>

<div class="center">

    <h3><a href="{{ url_for('get_notes') }}"> My Notes</a></h3>

    <h3><a href="{{ url_for('get_todo') }}"> Todo List</a></h3>

    <h3><a href="{{ url_for('get_favorite') }}">Favorite Notes ♥</a></h3>


</div>

</body>
</html>
