<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="✨The Fabulous Five✨ Notes App">
    <title>UNCC Notes App - View your Note</title>
    <!-- styles -->
    <script src="{{url_for('static', filename='javascript.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='1main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='final_forms.css') }}">
</head>
<body>

<nav id="nav">
    <a href={{ url_for('index') }}>  Home</a>

    <a href={{ url_for('get_notes') }}> My Notes</a>

    <a href={{ url_for('new_note') }}>Add Notes</a>

    <a href="{{ url_for('get_favorite') }}">Favorite Notes</a>

    <a href="{{ url_for('get_todo') }}"> Todo List</a>

    {% if user %}
    <a href="{{ url_for('logout') }}">Logout</a>
    <button onclick="myFunction()">Toggle Dark Mode</button>
</nav>
{% else %}
<a href="{{ url_for('login') }}">Sign In</a>
<a href="{{ url_for('register') }}">Register</a>
</nav>
{% endif %}

<h1>Welcome {{user}} to ✨The Fabulous Five✨ Notes App!</h1>

<h1>Note details</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>{{ note.title }}</td>
        <td>{{ note.text }}</td>
        <td>{{ note.date }}</td>
    </tr>
</table>

{% if note.comments %}
{% if note.comments|length > 0 %}
<h2>Comments</h2>
<ul>
    {% for comment in note.comments %}

    <li>{{comment.content}}
        <form action="{{ url_for('delete_comment', note_id=note.id, comment_id=comment.id) }}" method="post">
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}

</ul>

{% endif %}
{% endif %}
<form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
    <div class="formwrapper">
        <h2 class="title">Add a comment</h2>
        <div class="form-field">
            {{ form.comment.label }} <br/> {{ form.comment }}
        </div>
        {{ form.submit }}
    </div>
</form>

</body>
</html>